/* Importar fuente*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* Importar fuente*/

/* Variables de Colores */
:root{
    --orange-etb: #FF6523;
    --bgray-etb: #d8dde6;
    --b3gray-etb: #E4E8F0;
    --gray-etb: #f4f6f9;
    --withe-etb: #fff;
    --bblue-etb: #214780;
    --fblue-etb: #14C1EA;
    --pblue-etb: #54698d;
    --black-etb: #333333;
    --b2gray-etb: #969492;
}
/* Variables de Colores */

/* Reiniciar el CSS */
*{ 
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 
}

a{
    color: var(--orange-etb);
}
/* Reiniciar el CSS */

/* Generalidades del Cuerpo */
body{
 
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
 
}
/* Generalidades del Cuerpo */

/* CSS del Inicio */
.container{
    background-image: url('../images/background/figures.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 959px;
}

.inic{
    background-color: var(--withe-etb);
    height: 756px;
    width: 1536px;
    border-radius: 15px;
    position: relative;
    left: 195px;
    top: 90px;
    z-index: 1;
}

.help{
    color: var(--orange-etb);
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    right: 0;
    margin: 5px 15px 0 0;
    cursor: pointer;
}

.tittle{
    display: flex;
    color: var(--orange-etb);
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    position: relative;
    left: 590px;
    top: 30px;
}

.tittle img{
    height: 100px;
    width: 100px;
}

.tittle h1{
    margin-top: 30px;
}

.band-content{
    border: 3px solid var(--bblue-etb);
    border-radius: 25px;
    width: 836px;
    height: 203px;
    position: relative;
    left: 380px;
    top: 150px;
    cursor: pointer;
}

.band img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 380px;
    top: 40px;
}

.data{
    display: grid;
    position: relative;
    top: 160px;
    left: 550px;
}

.data img{
    width: 45px;
    height: 45px;
    position: relative;
    left: 65px;
    top: 13px;
}

.data input{
    background-color: var(--b3gray-etb);
    border: none;
    width: 390px;
    height: 70px;
    margin-bottom: 25px;
    padding-left: 75px;
    padding-top: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: var(--black-etb);
}

.add{
    font-size: 18px;
    margin-left: 160px;
    position: relative;
    top: 90px;
    color: var(--bblue-etb);
    font-weight: 500;
}

.buttons-act{
  position: relative;
  left: 150px;
  top: 80px;
}

.act{
  border: 3px solid var(--bblue-etb);
  border-radius: 45px;
  background-color: var(--withe-etb);
  color: var(--bblue-etb);
  font-size: 24px;
  font-weight: 900;
  width: 200px;
  height: 80px;
  cursor: pointer;
} 

.buttons-act-2{
    position: relative;
    left: 550px;
    top: 230px;
    display: flex;
}

.band-2 img{
    width: 70px;
    height: 70px;
    position: relative;
    left: 230px;
    bottom: 10px;
    transform: rotate(180deg)
}

.custom-button{
    width: 830px;
    height: 197px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.add-2{
    font-size: 18px;
    margin-right: 50px;
    position: relative;
    top: 30px;
    color: var(--bblue-etb);
    font-weight: 500;
}

.act2{
    width: 130px;
    cursor: pointer;
    margin-left: 80px;
}

.backdrop {
    position: fixed; /* Se mantiene fijo en pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurecimiento con transparencia */
    z-index: 0; /* Se coloca detrás del modal */
}
/* CSS del Inicio */